[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}

[scripts]
recipe = zc.recipe.egg:scripts
eggs = ${buildout:eggs}
dependent-scripts = true


[supervisor-cron]
recipe      = z3c.recipe.usercrontab
times       = @reboot
command     = ${buildout:bin-directory}/supervisord

[openerp]
recipe = anybox.recipe.openerp[bzr]:server
vcs-clear-retry = True
version = git https://github.com/OCA/OCB.git odoo 4148d040c57fdbf7fe9ecefe1dc7b59a73bac5eb
addons =
         git https://github.com/ELNOGAL/GALIPAT_addons.git odoo_repos/galipat master
         git https://github.com/Comunitea/external_modules.git odoo_repos/external_modules f53bfb8c18030eed95f68cd9ae30371514f0e626
         git https://github.com/OCA/bank-payment.git odoo_repos/bank-payment e7f2285e8000fd5e7a89db6b711009ae063e66fe
         git https://github.com/OCA/l10n-spain.git odoo_repos/l10n-spain 54a21643ca47f8e1b024ddb80f89b5b78cddd335
         git https://github.com/OCA/partner-contact-management.git odoo_repos/partner-contac-management 759517b2045204a552cd502ecf36708a5dbd9d21
         git https://github.com/OCA/server-tools.git odoo_repos/server-tools 3a5da57f642d599eb2c318dbfdd4682db5d58b73
         git https://github.com/OCA/account-financial-tools.git odoo_repos/account-financial-tools e177975f782d9739442fc604ffa7957215f71b19
         git https://github.com/OCA/account-financial-reporting.git odoo_repos/account-financial-reporting 7303fd628184f83ae72e8cbf7827938a9275bdb8
         git https://github.com/OCA/reporting-engine.git odoo_repos/reporting-engine 40669b798a37dee0159ce508ddad02835829fca3
         git https://github.com/OCA/web.git odoo_repos/oca-web a83a0102d3bdc4fae0d9789520b0802197ecd88d
         git https://github.com/OCA/bank-statement-import.git odoo_repos/bank-statement-import 6da863b5914f011239e96efd2a2d314f22a4d297
         git https://github.com/OCA/account-payment.git odoo_repos/account-payment b72b83cf53736913146dc3c9663bf07a08bc4890
         git https://github.com/OCA/report-print-send.git odoo_repos/print_send ac3b1c4d8a5a0835ed9f868c303a6bf91a2298e5
         git https://github.com/OCA/bank-statement-reconcile.git odoo_repos/bank-statement-reconcile f0c5eaba830863294b8a1b906ad71969c9617853
         git https://github.com/OCA/account-analytic.git odoo_repos/account-analytic 30fdabf94812f8948ac680f2bfcb8491796a3f83
         git https://github.com/OCA/connector-telephony.git odoo_repos/connector-telephony a1216c0b97012440dd81adad2e020da15142fc52
     local parts/odoo/addons/
merges = ;git origin odoo_repos/l10n-spain pull/485/head ; Resumen recargo de equivalencia en mod 340
         ;git https://github.com/Comunitea/l10n-spain.git odoo_repos/l10n-spain 8_0_asset_dates
         ;git https://github.com/Comunitea/l10n-spain.git odoo_repos/l10n-spain 8_0_340_improvements
eggs = unidecode
    ipdb == 0.9.0
    pyPdf
    unicodecsv
    pycups
    twisted
    xlrd
    xlutils
    phonenumbers
    py-Asterisk
    egenix-mx-base
    ofxparse
    openupgradelib


options.db_host = ${settings:postgres_host}
options.db_name = ${settings:postgres_db_name}
options.admin_passwd = admin
options.db_user = ${settings:postgres_user}
options.db_password = ${settings:postgres_password}
options.db_maxconn = ${settings:postgres_maxconn}
options.db_port = ${settings:postgres_port}
options.proxy_mode = ${settings:openerp_proxy_mode}
options.xmlrpc_interface = ${settings:openerp_xmlrpc_interface}
options.xmlrpc_port = ${settings:openerp_xmlrpc_port}
options.xmlrpcs_interface = ${settings:openerp_xmlrpcs_interface}
options.xmlrpcs_port = ${settings:openerp_xmlrpcs_port}
options.limit_time_cpu = ${settings:openerp_limit_time_cpu}
options.limit_time_real = ${settings:openerp_limit_time_real}
options.debug_mode = False
options.unaccent = True
options.workers = ${settings:openerp_workers}
options.data_dir = /opt/odoo/8/docsext/gesdoc
options.pg_path = ${buildout:directory}/parts/postgres/bin
options.dbfilter = ${settings:openerp_dbfilter}

[env]
recipe = gocept.recipe.env

[static-analysis]
recipe = zc.recipe.egg
eggs = flake8

[supervisor]
recipe = collective.recipe.supervisor
port = ${settings:supervisor_port}
serverurl = ${settings:supervisor_url}:${supervisor:port}
programs =
    10 odoo ${buildout:directory}/bin/start_openerp

[py]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = py
scripts = py

[initdb]
recipe = iw.recipe.cmd
on_install = true
on_update = true
cmds =
    echo ""
    echo "To start PosrgreSQL and Supervisord run:"
    echo "$ supervisord"
    echo ""
    echo "To create the database run:"
    echo "$ psql -d postgres -U odoo -c 'CREATE DATABASE ${openerp:options.db_name}'"
    echo ""
    echo "To shutdown Supervisord with all deamons:"
    echo "$ supervisorctl shutdown run:"
    echo ""
    echo "To Restart Postgres run:"
    echo "$ supervisorctl restart postgres"
    echo ""
    echo "To start OpenERP run:"
    echo "$ start_openerp"
    echo ""
    echo "Creating db"
