[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}

[scripts]
recipe = zc.recipe.egg:scripts
eggs = ${buildout:eggs}
dependent-scripts = true


[supervisor-cron]
recipe      = z3c.recipe.usercrontab
times       = @reboot
command     = ${buildout:bin-directory}/supervisord

[openerp]
recipe = anybox.recipe.openerp[bzr]:server
vcs-clear-retry = True
version = git https://github.com/OCA/OCB.git odoo d565aaeaefbc576308595f6f16401b0c1b18dfad
addons =
         git https://github.com/ELNOGAL/GALIPAT_addons.git odoo_repos/galipat master
         git https://github.com/Comunitea/external_modules.git odoo_repos/external_modules 55e0634a87afc7b14a2b81d05c3416a03a46978e
         ;git https://github.com/Comunitea/alimentacion.git odoo_repos/alimentacion 94e6e7e6b33889857dd3dfea9f90b30994a7603c
         git https://github.com/OCA/bank-payment.git odoo_repos/bank-payment 912e790b9ac67bc578c9e7138f37ad1b136774c4
         git https://github.com/OCA/l10n-spain.git odoo_repos/l10n-spain 396aa414e1eb97f8c96a155af3a892bfb3adfed8
         git https://github.com/OCA/partner-contact-management.git odoo_repos/partner-contac-management f8e1355be7d60a19a46356d5f12bf42f9aeef9b1
         git https://github.com/OCA/server-tools.git odoo_repos/server-tools 1fa87b18de3e1fae7a7561534c5d4fb1e0f911eb
         git https://github.com/OCA/account-financial-tools.git odoo_repos/account-financial-tools 4a610422dc5b210e9bc4775afd932b796d5c2ea6
         git https://github.com/OCA/account-financial-reporting.git odoo_repos/account-financial-reporting 47f53bc4e547061d4d62e624b8e4b422ed2bd7b2
         git https://github.com/OCA/reporting-engine.git odoo_repos/reporting-engine 0a639e51edd3478c482fa726e12fbc66b95e7f49
         git https://github.com/OCA/web.git odoo_repos/oca-web b1a35bc991159346805026fee7cc5bab3acdd313
         ;git https://github.com/OCA/purchase-workflow.git odoo_repos/purchase-workflow 704a3a98875a1efd877d226e4a80a3cbab09f118
         git https://github.com/OCA/bank-statement-import.git odoo_repos/bank-statement-import 0e609ce1760f22ef5e70400d0e379fc8afc2cd14
         git https://github.com/OCA/account-payment.git odoo_repos/account-payment 5f78cf2efd318a9a740cb72652a16e31f4e472ca
         git https://github.com/OCA/report-print-send.git odoo_repos/print_send b2bf81f3fb9ed80d3986f5788195bfad0eab58c9
         ;git https://github.com/OCA/stock-logistics-workflow.git odoo_repos/stock-logistics-workflow f7f614332b1084128bb887ea8fcec4f64e959225
         ;git https://github.com/OCA/sale-workflow.git odoo_repos/sale-workflow 1e4ee074ade3903b652ce62246e9aa4bbbd32faf
         ;git https://github.com/OCA/rma.git odoo_repos/rma edeb0e499a264153d05e5c0729b434f4b8c2c140
         ;git https://github.com/omar7r/Jasperv8.git odoo_repos/jasper-reports fdf11c3f050c1d94a51b7f18a32698d18b1fc993
         ;git https://github.com/OCA/department odoo_repos/departament ce7a130f56093d7980eef852c6728c3219f5d6bd
         ;git https://github.com/OCA/product-attribute.git odoo_repos/product-attribute 2195e38e7030f0b4fff533ce532922ce679b033d
         git https://github.com/OCA/bank-statement-reconcile.git odoo_repos/bank-statement-reconcile eddff7cfc3ec7ac1441ed33942f247e6f3ceeffa
         ;git https://github.com/Comunitea/commission.git odoo_repos/commission multicompany_by_partner
         ;git https://github.com/OCA/crm.git odoo_repos/crm 720e20f6bbc671158c767518237d24e2f3798110
         git https://github.com/OCA/account-analytic.git odoo_repos/account-analytic d95bb4a5542fcc665d129c3551719feec367469d
         ;bzr lp:new-report-intrastat odoo_repos/intrastat_base 102
         git https://github.com/OCA/connector-telephony.git odoo_repos/connector-telephony 320264f97c6bdcb8f30e1ee5c2cd6242cb444b41
         ;git https://github.com/OCA/stock-logistics-warehouse.git odoo_repos/stock-logistics-warehouse a1fa3ace425a1c25914149af8003aa06e77bb490
         ;git https://github.com/OCA/stock-logistics-reporting.git odoo_repos/stock-logistics-reporting 11c4fd56ade43dd7e713c89f8cffb6fe2db964e8
     local parts/odoo/addons/
merges = ;git https://github.com/Comunitea/OCB.git parts/odoo 8_0_fix_procurement_multicompany
         ;git https://github.com/Comunitea/l10n-spain.git odoo_repos/l10n-spain 8_0_asset_dates
         ;git https://github.com/Comunitea/l10n-spain.git odoo_repos/l10n-spain 8_0_340_improvements
eggs = unidecode
    ipdb == 0.9.0
    pyPdf
    unicodecsv
    pycups
    twisted
    xlrd
    xlutils
    phonenumbers
    py-Asterisk
    egenix-mx-base
    ofxparse
    openupgradelib


options.db_host = ${settings:postgres_host}
options.db_name = ${settings:postgres_db_name}
options.admin_passwd = admin
options.db_user = ${settings:postgres_user}
options.db_password = ${settings:postgres_password}
options.db_maxconn = ${settings:postgres_maxconn}
options.db_port = ${settings:postgres_port}
options.proxy_mode = ${settings:openerp_proxy_mode}
options.xmlrpc_interface = ${settings:openerp_xmlrpc_interface}
options.xmlrpc_port = ${settings:openerp_xmlrpc_port}
options.xmlrpcs_interface = ${settings:openerp_xmlrpcs_interface}
options.xmlrpcs_port = ${settings:openerp_xmlrpcs_port}
options.limit_time_cpu = ${settings:openerp_limit_time_cpu}
options.limit_time_real = ${settings:openerp_limit_time_real}
options.debug_mode = False
options.unaccent = True
options.workers = ${settings:openerp_workers}
options.data_dir = /opt/odoo/8/docsext/gesdoc
options.pg_path = ${buildout:directory}/parts/postgres/bin
options.dbfilter=${settings:openerp_dbfilter}

[env]
recipe = gocept.recipe.env

[static-analysis]
recipe = zc.recipe.egg
eggs = flake8

[supervisor]
recipe = collective.recipe.supervisor
port = ${settings:supervisor_port}
serverurl = ${settings:supervisor_url}:${supervisor:port}
programs =
    10 odoo ${buildout:directory}/bin/start_openerp

[py]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = py
scripts = py

[initdb]
recipe = iw.recipe.cmd
on_install = true
on_update = true
cmds =
    echo ""
    echo "To start PosrgreSQL and Supervisord run:"
    echo "$ supervisord"
    echo ""
    echo "To create the database run:"
    echo "$ psql -d postgres -U odoo -c 'CREATE DATABASE ${openerp:options.db_name}'"
    echo ""
    echo "To shutdown Supervisord with all deamons:"
    echo "$ supervisorctl shutdown run:"
    echo ""
    echo "To Restart Postgres run:"
    echo "$ supervisorctl restart postgres"
    echo ""
    echo "To start OpenERP run:"
    echo "$ start_openerp"
    echo ""
    echo "Creating db"
