[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}

[scripts]
recipe = zc.recipe.egg:scripts
eggs = ${buildout:eggs}
dependent-scripts = true


[supervisor-cron]
recipe      = z3c.recipe.usercrontab
times       = @reboot
command     = ${buildout:bin-directory}/supervisord

[openerp]
recipe = anybox.recipe.openerp[bzr]:server
vcs-clear-retry = True
version = git https://github.com/OCA/OCB.git odoo d7a4c823730fdaf5c4254d957d26b8e6fc328007
addons =
         git https://github.com/ELNOGAL/GALIPAT_addons.git odoo_repos/galipat master
         git https://github.com/Comunitea/external_modules.git odoo_repos/external_modules 1e263bd06c55e62fb19a2c347ba5c37439726f43
         git https://github.com/OCA/bank-payment.git odoo_repos/bank-payment 748172f914cdcee1c4c560c65b240b436a35b7c2
         git https://github.com/OCA/l10n-spain.git odoo_repos/l10n-spain 4a20f17f12daeef87abfd767096ba251bab939e4
         git https://github.com/OCA/partner-contact-management.git odoo_repos/partner-contac-management f5f7da202c902dfe1f926dacb61e978de25de78a
         git https://github.com/OCA/server-tools.git odoo_repos/server-tools 77ae6d0a008b798032ba1a6854b6709163da293d
         git https://github.com/OCA/account-financial-tools.git odoo_repos/account-financial-tools 5dec7b4594c05ccc8b7f6a297736c5a07828d138
         git https://github.com/OCA/account-financial-reporting.git odoo_repos/account-financial-reporting ab5dd740f1a38e1d4b9f4e4507b31ae0e3484697
         git https://github.com/OCA/reporting-engine.git odoo_repos/reporting-engine dc29e55ee2cb9e06514533a075ba0ff0eb96465f
         git https://github.com/OCA/web.git odoo_repos/oca-web 8f15ffc2b8d37b8a06658f345d4b5dd98072d49c
         git https://github.com/OCA/bank-statement-import.git odoo_repos/bank-statement-import 7c7e93df451a0283d6f832fb52eec355a0c9ba1f
         git https://github.com/OCA/account-payment.git odoo_repos/account-payment 9c8fb6f2924525e33fad6415110c4127e45af8db
         git https://github.com/OCA/report-print-send.git odoo_repos/print_send 92cabccaf96d8bc7f4b52b78bf50ef0ea3be5163
         git https://github.com/OCA/bank-statement-reconcile.git odoo_repos/bank-statement-reconcile 6d981e72caba523da3f4d8fbd6564f84b1cc9f81
         git https://github.com/OCA/account-analytic.git odoo_repos/account-analytic 21cfa84b90e725ad62b9862f230f4053d1b77c0d
         git https://github.com/OCA/connector-telephony.git odoo_repos/connector-telephony 1032b12c6930734cc505f1fdf8880edcca68e42a
     local parts/odoo/addons/
merges = ;git origin odoo_repos/l10n-spain pull/485/head ; Resumen recargo de equivalencia en mod 340
         ;git https://github.com/Comunitea/l10n-spain.git odoo_repos/l10n-spain 8_0_asset_dates
         ;git https://github.com/Comunitea/l10n-spain.git odoo_repos/l10n-spain 8_0_340_improvements
eggs = unidecode
    ipdb == 0.9.0
    pyPdf
    unicodecsv
    pycups
    twisted
    xlrd
    xlutils
    phonenumbers
    py-Asterisk
    egenix-mx-base
    ofxparse
    openupgradelib


options.db_host = ${settings:postgres_host}
options.db_name = ${settings:postgres_db_name}
options.admin_passwd = admin
options.db_user = ${settings:postgres_user}
options.db_password = ${settings:postgres_password}
options.db_maxconn = ${settings:postgres_maxconn}
options.db_port = ${settings:postgres_port}
options.proxy_mode = ${settings:openerp_proxy_mode}
options.xmlrpc_interface = ${settings:openerp_xmlrpc_interface}
options.xmlrpc_port = ${settings:openerp_xmlrpc_port}
options.xmlrpcs_interface = ${settings:openerp_xmlrpcs_interface}
options.xmlrpcs_port = ${settings:openerp_xmlrpcs_port}
options.limit_time_cpu = ${settings:openerp_limit_time_cpu}
options.limit_time_real = ${settings:openerp_limit_time_real}
options.debug_mode = False
options.unaccent = True
options.workers = ${settings:openerp_workers}
options.data_dir = /opt/odoo/8/docsext/gesdoc
options.pg_path = ${buildout:directory}/parts/postgres/bin
options.dbfilter = ${settings:openerp_dbfilter}

[env]
recipe = gocept.recipe.env

[static-analysis]
recipe = zc.recipe.egg
eggs = flake8

[supervisor]
recipe = collective.recipe.supervisor
port = ${settings:supervisor_port}
serverurl = ${settings:supervisor_url}:${supervisor:port}
programs =
    10 odoo ${buildout:directory}/bin/start_openerp

[py]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = py
scripts = py

[initdb]
recipe = iw.recipe.cmd
on_install = true
on_update = true
cmds =
    echo ""
    echo "To start PosrgreSQL and Supervisord run:"
    echo "$ supervisord"
    echo ""
    echo "To create the database run:"
    echo "$ psql -d postgres -U odoo -c 'CREATE DATABASE ${openerp:options.db_name}'"
    echo ""
    echo "To shutdown Supervisord with all deamons:"
    echo "$ supervisorctl shutdown run:"
    echo ""
    echo "To Restart Postgres run:"
    echo "$ supervisorctl restart postgres"
    echo ""
    echo "To start OpenERP run:"
    echo "$ start_openerp"
    echo ""
    echo "Creating db"
